:root {
    --gray: #0cdfd1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "work-sans", sans-serif;
    text-decoration: none;
    transition: all .2s linear;
    outline: none;
}

header {
    display: flex;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    right: 0;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    padding: 20px 45px;
    background-color: #333;
    box-shadow: 0 4PX 15PX rgba(0, 0, 0, .3);
}

::selection {
    background-color: var(--gray);
    color: #fff;
}

html {
    font-size: 62.5%;

    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}



header .logo {
    font-size: 2.5rem;
    font-weight: normal;
    color: #fff;
    text-transform: uppercase;
}


header .logo {
    font-size: 30PX;
    font-weight: 900;
    letter-spacing: 4px;
    background: linear-gradient(270deg, #0cdfd1, #00bfff, #0066ff, #00bfff, #0cdfd1);
    background-size: 400% 400%;
    background-clip: text;
    color: transparent;
    text-transform: uppercase;
    text-shadow: 0 0 25px rgba(12, 223, 209, 0.6);
    animation: colorFlow 5s linear infinite;
}

@keyframes colorFlow {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}



header .navbar a {
    color:
        #fff;
    font-size: 2rem;
    margin: 0 25px;

}

header .navbar a:hover {
    color: var(--gray);
}

header .icons i {
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
    margin: 2rem;

    padding: 10px;
}

header .icons i:hover {
    color: var(--gray);
}

header .search-bar-container {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-top: 1px solid rgba(255, 255, 255, .2);
    background-color: #333;
    padding: 20px;

    display: flex;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

}

header .search-bar-container.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header .search-bar-container #search-bar {
    width: 100%;
    padding: 10px;
    text-transform: none;
    color: #19305c;
    font-size: 20px;

}

header .search-bar-container label {
    color: #fff;
    margin-left: 10px;
}

header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/* login and register */
.auth-model {
    position: fixed;
    width: 440px;
    height: 460px;
    background-color: #333;
    border: 2px solid rgba(60, 60, 60, 0.967);
    border-radius: 20px;
    backdrop-filter: blur();
    color: #fff;
    margin: 215px auto;
    display: flex;
    z-index: 100;
    inset: 0;
    overflow: hidden;
    align-items: center;

    transform: scale(0);
    transition: height .2s ease;
}

.auth-model.show {
    transform: scale(1);
}

.auth-model .form-container {
    width: 100%;
    padding: 30px 40px;
}

.form-container h3 {
    font-size: 35px;
    color: var(--gray);
    text-align: center;

}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 15px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    background-color: var(--gray);
    color: #fff;
    padding: 10px 5px;
    font-size: 20px;
    border-radius: 40px;
    border: 4px solid var(--gray);
    cursor: pointer;
    display: block;
    width: 100%;
}

.form-container p {
    font-size: 14.5px;
    text-align: center;
    margin: 25px 0 10px;
}

.form-container p a:hover {

    text-decoration: underline;
}


.register-link,
.login-link {
    color: var(--gray);
}

.btn:hover {
    background-color: rgba(92, 225, 220, 0.2);
    color: #0cdfd1;
}

.auth-model .form-container.register {
    position: absolute;
    transform: translateX(400px);
}

.auth-model.active {
    height: 660px;
}

.auth-model.active .form-container.login {
    transition: none;
    transform: translateX(-400px);
}

.auth-model .form-container.login,
.auth-model.active .form-container.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

select {
    width: 100%;
    height: 100%;

    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: rgba(255, 255, 255, .2);
    padding: 20px 45px 20px 20px;
}

select option {
    background-color: #333;

}


.form-container .input-box input:focus {

    border-color: var(--gray);
}

.form-container #remember {
    margin: 20px 0;

}

.form-container label {
    font-size: 17px;
    padding: 10px;

}

.btn {
    display: inline-block;
    margin-top: 10px;
    background-color: var(--gray);
    color: #fff;
    padding: 10px 5px;
    font-size: 20px;
    border: 4px solid var(--gray);
    cursor: pointer;
    display: block;
    width: 100%;
}

.btn:hover {
    background-color: rgba(92, 225, 220, 0.2);
    color: #0cdfd1;
}

.form-container p {
    padding: 5px 10px;
    font-size: 1.5rem;
    color: #666
}

.frorm-container p a:hover {
    color: #333;
    text-decoration: underline;
}

.auth-model #close {
    position: absolute;
    top: 0;
    color: #0cdfd1;
    z-index: 100;
    right: 0;
    font-size: 20px;
    margin: 10px 5px;


}



#mainbar {
    color: #fff;
    border: 3px solid #fff;
    border-radius: .5rem;
    font-size: 30px;
    cursor: pointer;
    padding: 5px 3px;
    display: none;
}

/* home */


.home {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    max-height: 100%;
    height: 100vh;
    z-index: 0;
    background-size: cover;
    background-image: url(../images/pexels-pixabay-50594.jpg)
}

.home .content h3 {
    text-align: center;
    font-size: 70px;
    letter-spacing: 4px;

    color: var(--gray);
    padding: 10px;
    text-transform: uppercase;
    text-shadow: 0 10px 10px rgba(0, 0, 0, .3);
}



/*mwdia */
@media (max-width:1200px) {
    html {
        font-size: 10px;
    }

    header .navbar a {
        margin: 0 10px;
    }
}

@media (max-width:991px) {
    header {
        padding: 45px 17px;
    }

    header .icons i {
        padding: 0;
        margin: 0;
    }

    header .navbar a {
        margin: 0 8px;
    }
}

@media (max-width:768px) {
    #mainbar {
        display: initial;
    }

    .auth-model.active {
        width: fit-content;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        background-color: #333;
        padding: 10px 20px;
        border-top: 1px solid rgba(255, 255, 255, .2);
    }


    header .navbar a {
        display: block;
        padding: 1.4rem;
        margin: 1.5rem 0;
        border-radius: .5rem;
        border-bottom: 1px solid white;
        background-color: #222;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
}